@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #bad9b5;
}

.navbar {
  margin: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #3c3744;
  box-shadow: 1px 4px 4px #565161;
}

a {
  text-decoration: none;
  color: #3c3744;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbarLabels {
  font-size: 1.25rem;
  margin: 0;
}

.navbarIcons {
  font-size: 2.25rem;
}

.createPostPage {
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 3rem;
}

.cpContainer {
  width: 85%;
  max-width: 550px;
  height: auto;
  padding: 1rem;
  background-color: rgb(126, 148, 125);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
}

.cpContainer .cpHeader {
  text-align: center;
}

.cpContainer .inputLabel {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.cpContainer .inputGp {
  margin-top: 1.75rem;
  display: flex;
  flex-direction: column;
}

.inputGp input,
.inputGp textarea {
  font-size: 1.2rem;
  border: none;
  border-radius: 2px;
  outline-color: #bad9b5;
  padding: 5px;
}

.inputGp input {
  height: 2.5rem;
}
.inputGp textarea {
  height: 10rem;
}

.cpContainer button {
  margin-top: 1rem;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

.loginPageContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPage {
  width: 50%;
  height: 50%;
  border-radius: 2px;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loginPageBtn {
  font-size: 2rem;
  font-family: inherit;
  background-color: #565161;
  color: white;
  border: 1px solid #3c3744;
  border-radius: 2px;
}

.homePage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.homePage .post {
  width: 85%;
  max-width: 50rem;
  height: auto;
  max-height: 600px;
  background-color: rgb(250, 250, 250);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1rem;
  padding: 1.2rem;
  border-radius: 15px;
}

.post .postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.deletePostBtn {
  font-size: 1.5rem;
  cursor: pointer;
}

.createPostBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.createPostIcon {
  font-size: 2.5rem;
  color: #3c3744;
  cursor: pointer;
}

.post .postTextContainer {
  word-wrap: break-word;
  height: auto;
  max-height: 400px;
  overflow-y: auto;
}
